a h2 {
  font-size: 20px;
  margin-top: 10px;
}

.slides {
  width: 220px;
  height: 200px;
  object-fit: cover;
  border-radius: 3px;
  padding: 0 8px 0 0;
}
.image_box {
  flex: 0 0 17%;
}

@media only screen and (max-width: 992px) {
  .slides {
    height: 180px;
    width: 100%;
  }
  .image_box {
    flex: 0 0 49%;
    padding: 8px 0 0;
    width: 49%;
  }
}
