.image-box {
  width: 100%;
  height: 550px;
  object-fit: cover;
  background-color: #eeeeee;
}

.alice-carousel__dots {
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%);
}

.alice-carousel__prev-btn {
  display: none;
}

.alice-carousel__next-btn-wrapper {
  display: none;
}

@media only screen and (max-width: 992px) {
  .alice-carousel__dots {
    bottom: 12%;
  }
  .image-box {
    height: 200px;
  }
}
